
.Header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 999;
  background: white;
  box-shadow: 1px 3px 5px #80808069;
  padding: 0 46px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Header-left {
  font-size: 40px;
  padding: 2px 0 10px 0;
  margin-left: 20px;
  font-weight: 700;
  color: #23238b;
}
.Header-left:hover{
  text-decoration: none;
  color: #23238b;
}
.header-right > div:not(.sepreate){
  margin: 0px 20px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #212a32!important;
  text-align: center;
  cursor: pointer;
}
.header-right a{
  color: #212a32!important;
}
.header-right a:hover{
  text-decoration: none;
}
.header-active {
  position: relative;
  font-weight: bold;
  font-size: 20px!important;
}
.header-active::before {
  position: absolute;
  width: 100.005px;
  height: 1px;
  top: 34px;
  left: -6px;
  content: "";
  background-color: #b3b3b3;
}

.sepreate {
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 26px;
  background-color: #212a32;
}

.footer-logo {
  width: 30%;
  text-align: left;
}

.footer {
  justify-content: space-around;
  display: flex;
  background-color: #4e4e4e;
  padding: 30px 20px;
}
.footer > div {
  text-align: center;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: #23238b;
  margin-left: 22px;
}

.footer-icon {
  color: white;
}

.footer-icon > i {
  padding:  10px;
}

.footer-info-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 8px;
}

.footer-info {
  text-align: left;
}
.menu-hidden{
  font-size: 30px;
  display: none;
}
.mbt-150{
  margin-bottom: 150px;
}
@media only screen and (max-width: 600px) {
  .menu-hidden {
    display: block;
  }
  .header-right > div >*:not(.menu-hidden) {
    display: none;
  }
  .header-right{
    margin-right: 0px;
  padding-right: 0px;
  }
  .header-right.menu-show > div{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 35px;
    padding-top: 18px;
    margin: 0px !important;
    z-index: 0;
    background-color: green;
  }
  .header-right.menu-show > div >*:not(.sepreate) {
    display: block;
    margin-right: 0px;
  }
  .header-right.menu-show > div > .sepreate {
    padding-left: 250px;  
  }
  
  .Header{
    padding: 0 15px !important;
  }
  #Component_2___1{
    width: 80vw;
  }

  div.justify-content-between.header {
    padding: 0px;
    padding-top: 90px;
    white-space: nowrap;
  }
  div.justify-content-between.header > div{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
  }
  
  div.justify-content-between.header > a{
    display: block;
  width: 100vw;
  text-align: right;
  margin-top: 10px;
  }
  
  div.d-flex.position-tags {
    padding: 0px;
    padding-left: 10px;
  }
  div.categories-body{
    padding: 0px;
    padding-left: 10px;
  }
  .align-items-center.pdr-5{
    padding-right: .5rem;
  }
  div.seach-box{
    display: none;
  }
  div.mbt-150{
    margin-bottom: 0px;
  }
  div.create-cv-handler{
    width: 100% !important;
    margin: 20px auto !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: unset;
  }
}
.bd-rounded{
  border-radius: .5rem;
}
.pdr-5{
  padding-right: 5rem;
}
.footer-info-content {
  font-size: 14px;
  line-height: 25px;
  color: white;
  cursor: pointer;
}

.modal-body {
  text-align: left;
}

.modal-body-content {
  display: flex;
  flex-wrap: wrap;
}

.modal-body-content > button.btn {
  flex: 1 0 28%; /* explanation below */
  margin: 5px;
}

.modal-body-title {
  font-weight: 600;
}

.modal-body {
  /* display: flex; */
}

.modal-content-flex {
  display: flex;
  align-items: center;
}

.modal-content-icon {
  font-size: 120px;
  padding: 0px 20px;
}

.user-contact-title {
  display: inline-block;
  width: 30%;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}

.user-contact-value {
  display: inline-block;
  width: 70%;
  font-size: 15px;
  color: #242222;
}

.user-contact-info {
  padding-top: 25px;
}

.modal-center {
  font-size: 22px;
  color: gray;
  font-weight: 600;
  text-align: center;
}
.modal-body.add-title-modal {
  display: flex;
}

.modal-icon-wrapper {
  font-size: 16px;
  padding: 0px 10px;
  color: #4d4b4b;
}

.modal-icon-wrapper + div {
  font-size: 15px;
  color: #4d4b4b;
}

a:hover {
  text-decoration: none!important;
}

.seach-box {
  display: flex;
  background: white;
  width: 360px;
  height: 46px;
  border-radius: 8px;
  align-items: center;
  margin-top: 12px;
    margin-left: 40px;
    border: 1px solid #e0e0e0;
}

.ic_search_24px {
  width: 20.582px;
  height: 20.475px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-left: 26px;
}

.search-input {
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(112, 112, 112, 1);
  margin-left: 24px;
  margin-bottom: 6px;
}

.search-input input{
  width: 100%;
  outline: none;
}

.visible{
  box-shadow: 0px 0px 5px #80808069;
  background: white;
  a,div{
    color: #212a32!important;
  }
}
.non-visible{
  box-shadow: none!important;
  background: transparent!important;
  .header-right{
    a,div{
      color: white!important;
    }
    div::before,.sepreate{
      background: white!important;
    }
  }
  
  .seach-box{
    display: none;
  }
}