
.Header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
  box-shadow: 1px 3px 5px #80808069;
  padding: 0 24px;
}

.header-right {
  display: flex;
  align-items: center;
}

.Header-left {
  font-size: 40px;
  padding: 10px 0;
  margin-left: 20px;
  font-weight: 700;
  color: #23238b;
}

.header-right > div:not(.sepreate){
  margin: 0px 20px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #212a32;
  text-align: center;
  cursor: pointer;
}
.header-active {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}
.header-active::before {
  position: absolute;
  width: 383.005px;
  height: 1px;
    top: 64px;
    content: "";
    background-color: #b3b3b3;
}

.sepreate {
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 26px;
  background-color: #212a32;
}

.footer-logo {
  width: 30%;
  text-align: left;
}

.footer {
  justify-content: space-around;
  display: flex;
  background-color: #4e4e4e;
  padding: 30px 20px;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: #23238b;
  margin-left: 22px;
}

.footer-icon {
  color: white;
}

.footer-icon > i {
  padding:  10px;
}

.footer-info-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 8px;
}

.footer-info {
  text-align: left;
}

.footer-info-content {
  font-size: 14px;
  line-height: 25px;
  color: white;
  cursor: pointer;
}

.modal-body {
  text-align: left;
}

.modal-body-content {
  display: flex;
  flex-wrap: wrap;
}

.modal-body-content > button.btn {
  flex: 1 0 28%; /* explanation below */
  margin: 5px;
}

.modal-body-title {
  font-weight: 600;
}

.modal-body {
  /* display: flex; */
}

.modal-content-flex {
  display: flex;
  align-items: center;
}

.modal-content-icon {
  font-size: 120px;
  padding: 0px 20px;
}

.user-contact-title {
  display: inline-block;
  width: 30%;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}

.user-contact-value {
  display: inline-block;
  width: 70%;
  font-size: 15px;
  color: #242222;
}

.user-contact-info {
  padding-top: 25px;
}

.modal-center {
  font-size: 22px;
  color: gray;
  font-weight: 600;
  text-align: center;
}
.modal-body.add-title-modal {
  display: flex;
}

.modal-icon-wrapper {
  font-size: 16px;
  padding: 0px 10px;
  color: #4d4b4b;
}

.modal-icon-wrapper + div {
  font-size: 15px;
  color: #4d4b4b;
}